.sign-input {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sign-input__span {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  min-height: 1.2em;
}

.sign-input__span_header {
  color: #8b8b8b;
}

.sign-input__span_error {
  color: #ee3465;
}

.sign-input__input {
  height: 46px;
  border: none;
  background: #2f2f2f;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  padding: 15px;
}

.sign-input__input:focus {
    outline: none;
}

.sign-input__input_error {
    color: #ee3465;
}