.greetings__logo {
  width: 38px;
  height: 38px;
}

.greetings__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
  margin: 40px 0 40px 0;
}
