.search-form {
  margin: 0 auto;
  max-width: 1280px;
}

.search-form__container {
  border-bottom: 1px solid #424242;
  margin: 0 70px 10px 70px;
}

.search-form__form {
  height: 72px;
  margin: 70px 0 69px 0;
  /* padding-bottom: 69px; */
  /* border-bottom: 1px solid #424242; */
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #222222;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.search-form__icon {
  background-image: url('../../../images/searchForm/icon.svg');
  width: 34px;
  height: 34px;
  background-position: center;
  margin: auto 10px auto 19px;
}

.search-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  text-decoration: none;
  color: #8b8b8b;
}

.search-form__input:active {
  outline: 0;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #8b8b8b;
}

.search-form__button {
  min-width: 80px;
  height: 34px;
  margin-right: 19px;
  background-color: #3ddc84;
  border-radius: 48px;
  border: none;
  background-image: url('../../../images/searchForm/icon__COLOR_invisible.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.search-form__button:hover {
  opacity: 0.8;
}

.search-form__shorts {
    width: 226px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #505050;
}

@media screen and (max-width: 770px) {
  .search-form__container {
    margin: 0 30px 10px 30px;
  }

  .search-form__form {
    margin: 80px 0 109px 0;
  }
}