.about-me {
  background-color: #202020;
  margin: 0;
}

.about-me__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about-me__header_main {
  max-width: 100%;
  min-height: 27px;
  margin: 110px 70px 0 70px;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #dadada;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.about-me__summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 66px 70px 0 70px;
}

.about-me__texts {
  display: flex;
  flex-direction: column;
}

.about-me__header {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
}

.about-me__about {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 18px 0 0 0;
}

.about-me__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #ffffff;
  mix-blend-mode: normal;
  max-width: 600px;
  margin: 26px 0 auto 0;
}

.about-me__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
  margin: auto 0 0 0;
  text-decoration: none;
  transition: opacity 0.4s ease;
  /* position: absolute; */
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__photo {
  border-radius: 10px;
  background-position: center;
  margin-left: 49px;
}

@media screen and (max-width: 770px) {
  .about-me__header_main {
    margin: 90px 50px 0 50px;
  }

  .about-me__summary {
    margin: 66px 50px 0 50px;
  }

  .about-me__header {
    font-size: 40px;
    line-height: 100%;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 150%;
    margin: 16px 0 0 0;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 150%;
    max-width: 364px;
    margin: 20px 0 40px 0;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__header_main {
    margin: 51px 14px 0 14px;
    padding: 0 0 27px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .about-me__summary {
    margin: 60px 14px 0 14px;
    flex-direction: column-reverse;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin: 0 0 40px 0;
    align-self: center;
  }

  .about-me__header {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__about {
    font-size: 11px;
    line-height: 145%;
    margin-top: 20px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 145%;
    margin-top: 20px;
  }
}
