.header {
  /* background-color: #073042; */
  margin: 0;
}

.header__container {
  max-width: 1280px;
  min-height: 74px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header__logo-link {
  width: 38px;
  height: 38px;
  margin: auto auto auto 70px;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.header__logo-link:hover {
  opacity: 0.8;
}

/* .header__logo {
  width: 38px;
  height: 38px;
  margin: auto auto auto 70px;
} */

.header__links-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 70px;
}

.header__open-button {
  background-image: url('../../../images/header/burger-icon.svg');
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  display: none;
}

.header__close-button {
  background-image: url('../../../images/header/x-icon.svg');
  background-color: transparent;
  background-position: center;
  border: none;
  width: 44px;
  height: 44px;
  display: none;
}

.header__nav-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__nav-links-item {
  list-style: none;
}

.header__nav-links-item:first-of-type {
  visibility: hidden;
}

.header__link {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link_active {
  text-decoration: underline;
}

.header__link_films {
  font-size: 14px;
  line-height: 129%;
  /* identical to box height, or 129% */
}

.header__link_saved-films {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  /* identical to box height, or 129% */
  margin-left: 20px;
}

.header__button {
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.header__button:hover {
  opacity: 0.8;
}

.header__button_unlogged {
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
  border-style: none;
  margin-left: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__button_logged {
  width: 96px;
  height: 32px;
  background-clip: padding-box;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  /* identical to box height, or 114% */
  display: flex;
  align-items: center;
  justify-content: right;
  color: #ffffff;
  margin-left: 50px;
  padding-right: 12px;
  position: relative;
}

.header__button_logged::before {
  content: url('../../../images/header/icon__COLOR_icon-main.svg');
  position: absolute;
  left: 12%;
  right: 76%;
  top: 28.12%;
  bottom: 28.12%;
}

@media screen and (max-width: 768px) {
  .header__links-container {
    margin-right: 30px;
  }

  .header__open-button {
    display: block;
  }

  .header__close-button {
    margin-left: auto;
    margin: 0 23px  0 auto;
  }

  .header__menu {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    /* opacity: 0; */
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.3s, visibility 0.3s;
    /* visibility: hidden; */
    width: 100%;
    z-index: 2;
  }

  .header__menu-navigation {
    height: 100%;
    width: 520px;
    background-color: #202020;
    margin-left: auto;
    padding-top: 23px;
  }

  .header__nav-links {
    flex-direction: column;
    padding: 159px 0 90px 0;
    row-gap: 28px;
    height: 100%;
  }


  .header__nav-links-item:first-of-type {
    visibility: visible;
  }

  .header__nav-links-item:last-of-type {
    margin-top: auto;
  }
  

  .header__button_logged {
    margin-left: 0;
    margin-top: auto;
  }

  .header__menu-opened {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .header__menu-closed {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
