.search-form__label-for-checkbox {
    display: flex;
    cursor: pointer;
}

.search-form__checkbox {
  position: absolute;
  width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 1px;
  overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
  clip: rect(0 0 0 0);
}

.search-form__checkbox-span {
  display: inline-block; /* элемент span теперь сможет принимать определённую ширину и высоту */
  /* vertical-align: middle; */
  background-image: url('../../../../images/searchForm/smalltumboff-min-2-01.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 20px;
  margin: auto 0 auto 29px;
}

.search-form__checkbox:checked + .search-form__checkbox-span-visible {
  background-image: url('../../../../images/searchForm/smalltumb-min-1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 20px;
}

.search-form__checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #ffffff;
  margin: auto 30px auto 14px;
  transition: opacity 0.4s ease;
}
.search-form__checkbox-text:hover {
    opacity: 0.7;
}